<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.maxCogCount) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.maxCogCount) }}
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.minCogSize) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.minCogSize) }}
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.maxCogSize) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.maxCogSize) }}
    </div>
</div>