<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.name) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.name) }}
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.weight) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.weight) }}
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.price) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.price) }}
    </div>
</div>