{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>Create {{ componentType }}</h2>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form.submit) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% include 'component/list.html.twig' %}
{% endblock %}