{% extends 'base.html.twig' %}

{% block body %}
    <div><input type="button" value="Home" onclick="location.href = '{{ path('home_page') }}';" /></div>
    <div>
        <h2>Create {{ componentType }}</h2>
    </div>
    {% include 'showFlash.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form.submit) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% include 'component/list.html.twig' %}
{% endblock %}