<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.name) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.name) }}
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.frontDerailleur) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.frontDerailleur) }}
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.rearDerailleur) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.rearDerailleur) }}
    </div>
</div>