{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const route = "{{ path('get_max_gear_combination_count')|escape('js') }}";
    </script>
    {{ encore_entry_script_tags('specifications') }}
{% endblock %}
{% block body %}
    <div class="grid-x">
        <input type="button" class="button" value="Home" onclick="location.href = '{{ path('home_page') }}';" />
    </div>
    <div class="grid-x">
        <h2>Build {{ bicycleType }} Bicycle</h2>
    </div>
    <div class="grid-x">
        {{ form_start(form) }}
        <div class="cell medium-6">
            <div class="grid-x">
                {% include 'showFlash.html.twig' %}
            </div>
            {% include 'bicycle/_base-form.html.twig' %}
            {% include 'bicycle/' ~ bicycleType|replace({' ': ''})|lcFirst ~ '/form.html.twig' %}
            {{ form_widget(form.submit) }}
        </div>
        <div class="cell medium-6">
            <div class="grid-x">
                <h4>Specifications:</h4>
            </div>
            <div class="grid-x">
                <div class="cell medium-6">
                    # of Gears:
                </div>
                <div id="speed" class="cell medium-6">

                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% include 'bicycle/list.html.twig' %}
{% endblock %}