{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const route = "{{ path('get_max_gear_combination_count')|escape('js') }}";
    </script>
    {{ encore_entry_script_tags('specifications') }}
{% endblock %}
{% block body %}
    <div><input type="button" value="Home" onclick="location.href = '{{ path('home_page') }}';" /></div>
    <div>
        <h2>Build {{ bicycleType }} Bicycle</h2>
    </div>
    {% include 'showFlash.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form.submit) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% include 'bicycle/list.html.twig' %}
{% endblock %}